/* * {
  outline: 4px solid red !important;
}  */

@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/Poppins-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/Poppins-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/Poppins-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100vh;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill="none"],
    [fill^="url"])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke="none"],
    [stroke^="url"])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {

  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-brown: rgba(82, 72, 62, 1);
  --color-light-grey: rgba(139, 135, 130, 1);
  --color-dark-grey: rgba(59, 59, 59, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);


  --border-radius: 24px;
  --font-family: 'Poppins', sans-serif;
  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family);
  color: var(--color-brown);
  line-height: 1;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg,
      rgba(210, 204, 198, 1),
      rgba(245, 245, 245, 1));
  margin-bottom: min(10vw,80px);
}

a:hover {
  color: var(--color-black);
}

a {
  transition-duration: var(--transition-duration);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  column-gap: 20px;
  max-width: 1280px;
  width: 100%;
  padding: 33px 24px;
}

.logo {
  max-width: 140px;
  height: auto;
}


.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 16px;
}


.navigation-link {
  white-space: nowrap;
  padding: 10px 24px;
  color: var(--color-brown);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}


.navigation-link.is-current {
  border: 1px solid var(--color-black);
  border-radius: var(--border-radius);
  color: var(--color-white);
  background: linear-gradient(180deg, var(--color-brown), var(--color-light-grey));
}


.burger-button {
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media all and (max-width:640px) {
  .burger-button {
    display: block;
  }

  .navigation-link {
    display: none;
  }
}

.hero {
  max-width: 1080px;
  position: relative;
}

.hero img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  margin-bottom: 35px;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title .hero-heading-1 {
  position: absolute;
  z-index: 3;
  top: clamp(10px, calc(-56.52px + 18.48vw), 180px);
  font-weight: 600;
  font-size: min(14vw, 180px);
  line-height: 172px;
}

.hero-title .hero-heading-2 {
  position: absolute;
  z-index: 1;
  font-weight: 600;
  top: clamp(60px, -54.26px + 31.74vw, 352px);
  font-size: min(14vw, 180px);
  line-height: 172px;
  background: linear-gradient(180deg, #AFA497, #DACCBC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  max-width: 1280px;
  width: 100%;
  text-align: center;
  padding-inline: 15px;
}

.carousel-title-container {
  max-width: 860px;
  width: 100%;
  margin-bottom: 24px;
}


.carousel-title {
  font-size: min(10vw,56px);
  font-weight: 600;
  margin-bottom: 16px;
}

.carousel-title-container p {
 font-size: min(4.2vw,24px);
  font-weight: 400;
}

.color-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.color-options-container p {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-light-grey);
}

/* @media all and (max-width:1280px){
  .color-options-container p{
    font-size: min(24px)
  }
} */

.headphone-carousel {
  display: flex;
  margin-bottom: 24px;
}


.color-options-container-button {
  margin-bottom: 32px;
  display: flex;
  max-width: 260px;
  width: 100%;
  justify-content: space-between;
}

.color-options-container-button button {
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 60%;
  border: none;
}

.button-1 {
  background-color: #D8B74B;
}

.button-2 {
  background-color: #94915B;
}

.button-3 {
  background-color: #883D39;
}

/* Контейнер слайдов: накладываем картинки друг на друга */
.headphone-carousel {
  position: relative;
  inline-size: min(90vw, 1280px);
  height: min(75vw,660px);
  overflow: hidden;
}

/* базовый размер всех */
.headphone-carousel .slide img {
  width: 420px;
  transition: width 0.4s ease, filter 0.4s ease, transform 0.4s ease;
}

/* центральная больше */
.slide[data-pos="center"] img {
  width: min(65.625vw,660px);
  filter: none;
  z-index: 3;
}

.slide[data-pos="left"] img,
.slide[data-pos="right"] img {
  width: min(43vw, 420px);
  filter: blur(13px);
}

/* Каждый слайд — в одной «рамке», центрируем картинку */
.headphone-carousel .slide {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  transition: transform .4s ease, filter .4s ease, z-index .2s ease;
}

/* Раскладка: кто где стоит и как масштабируется */
.slide[data-pos="center"] {
  transform: translateX(0) scale(1);
  z-index: 3;
  filter: none;
  /* центр — чёткий */
}

.slide[data-pos="left"] {
  transform: translateX(-28%) scale(.86);
  z-index: 2;
}

.slide[data-pos="right"] {
  transform: translateX(28%) scale(.86);
  z-index: 2;
}

/* Визуальный отклик у активной кнопки (можно было раньше добавить) */
.color-options-button.is-active {
  outline: 2px solid var(--color-brown);
  /* outline-offset: 3px; */
  transform: scale(1.05);
  transition: transform .2s ease, outline .2s ease;
}

@media all and (max-width:640px){
  .headphone-carousel .slide[data-pos="right"], .headphone-carousel .slide[data-pos="left"] {
    display:none;
    } 
   .headphone-carousel .slide  {
     transform:none;
     transition: none;
   }
   .slide[data-pos="center"] {
    z-index: 3;
    display:block;
  }
}



.features {
  max-width: 1280px;
  width: 100%;
  padding: 80px;
  margin-inline: auto;
}

.features-carousel {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 51vw);
  grid-column-gap: 1rem;
  grid-template-rows: 1fr;
  grid-row-gap: 1rem;
  scroll-snap-type: both mandatory;
  scroll-padding: 1rem;
  overflow: hidden;
}

.features-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 480px;
  background: linear-gradient(180.00deg, rgba(210, 205, 198, 1), rgba(248, 191, 147, 1) 100%);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.features-slide-2 {
  background: linear-gradient(180.00deg, rgba(210, 205, 198, 1), rgba(242, 235, 227, 1));
}

.features-slide-3 {
  background: linear-gradient(180.00deg, rgba(216, 183, 75, 1), rgba(242, 235, 227, 1) 100%);
}

.features-slide p {
  user-select: none;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  margin-left: 80px;

}

.features-slide img {
  user-select: none;
  width: 532px;
  height: auto;
}

.personalize {
  max-width: 1280px;
  width: 100%;
  padding: 80px 30px 160px 30px;
  margin-inline: auto;
}

.image-carousel {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 16vw);
  grid-column-gap: 1rem;
  grid-template-rows: 1fr;
  grid-row-gap: 1rem;
  scroll-snap-type: both mandatory;
  scroll-padding: 1rem;
  overflow: hidden;
}

.image-carousel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 386px;
  border-radius: var(--border-radius);
  cursor: pointer;
}


.image-carousel-item img {
  user-select: none;
  width: 300px;
  height: auto;
}

.personalize h2 {
  margin: 0;
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
}

.personalize p {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: var(--color-light-grey)
}

.hero-secondary {
  height: 100vh;
  max-width: 100%;
  background-image: url("assets/images/hero-secondary.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: start;
  justify-content: center;
}

.hero-secondary-content {
  margin-top:80px;
  max-width:920px;
  text-align: center;
}

.hero-secondary-content h2{
  font-size: 86px;
  font-weight: 600;
  line-height: 120px;
  color:var(--color-white);
  margin-bottom: 24px;
}

.hero-secondary-content p{
  font-size: 24px;
  color:var(--color-white);
  margin-bottom:24px;
}

.pricing-info {
width:100%;
max-width: 400px;
}

.hero-secondary-content a{
  display: block;
  margin-inline:auto;
  width:132px;
  text-decoration: none;
  color:var(--color-black);
  padding: 10px 32px 10px 32px;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}
.footer{
  background: linear-gradient(180.00deg, rgba(245, 245, 245, 1),rgba(210.395751953125, 204.51878356933594, 198.05416870117188, 1) 100%);
}
.footer-container{
  max-width: 1280px;
  width: 100%;
  margin-inline:auto;
  padding-top:80px;
}

.footer-content{
  max-width:860px;
  margin-inline:auto;
  align-items: center;
  text-align: center;
}

.footer-content h2{
  margin:0;
  font-size: 42px;
  font-weight: 600;
  margin-bottom:16px;
}

.footer-content p{
  color:var(--color-light-grey);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 32px;
}

.footer-buttons{
  display: flex;
  justify-content: center;
column-gap:16px;

}

.footer-buttons a{
  box-sizing: border-box;
  text-decoration: none;
  padding:10px 32px;
  color:var(--color-black);
  background-color: var(--color-white);
  border-radius:var(--border-radius);
  margin-bottom:42px;
}

.footer-bottom{
    border-top:1px solid var(--color-dark-grey);

}

.footer-bottom-container{
  max-width: 1280px;
  width: 100%;
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
  padding-top:28px;
  padding-bottom: 41px;
}

.footer-bottom-content{
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.footer-bottom p{
  margin:0;
}

.footer .socials-list{
  display: flex;
  column-gap:16px;
}
